<%= form_for @trip do |f| %>

  <%= render('layouts/errors', :object => @trip) %>
 <div class="form-group">
    <%= f.label "Name:" %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit(:class => "btn btn-default") %>
<% end %>
