<h2><%= @trip.name %></h2>

<ul class="show_pix">
  <% @trip.pictures.each do |picture| %>
    <li class="pic"><%= image_tag picture.photo.url(:medium) %>
                    <%= link_to "replace", edit_trip_picture_path(@trip, picture) %>
    <li>
  <% end %>
</ul>

<%= link_to "Add Picture", new_trip_picture_path(@trip), :class => "btn btn-default" %><br>
<%= link_to "Home", root_path, :class => "btn btn-default" %>
