<h2><%= @trip.name %></h2>

<ul class="show_pix">
  <% @trip.pictures.each do |picture| %>
    <li class="pic"><%= image_tag picture.photo.url(:medium) %>
                    <%= link_to "replace", edit_trip_picture_path(@trip, picture), :class => "btn btn-success btn-xs" %>
                    <%= link_to "remove", trip_picture_path(@trip, picture), :class => "btn btn-primary btn-xs",
                      :data => {:confirm => "Are you sure you'd like to remove this trip?",
                                :method => "delete"} %>
    <li>
  <% end %>
</ul>

<%= link_to "Add Picture", new_trip_picture_path(@trip), :class => "btn btn-default" %><br>
<%= link_to "Home", root_path, :class => "btn btn-default" %>
