<h2>Profile for <%= @user.username %></h2>

<h3>Your Trips:</h3>
  <ul>
    <% @user.trips.each do |trip| %>
      <li><%= link_to "#{trip.name}", trip_path(trip) %> |
          <%= link_to "edit", edit_trip_path(trip) %> |
          <%= link_to "remove", trip_path(trip),
                      :data => {:confirm => "Are you sure you'd like to remove this trip?",
                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<%= link_to "Add Trip", new_trip_path, :class => "btn btn-default" %>
<%= link_to "Home", root_path, :class => "btn btn-default" %>
